@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-fundo1: #f4f3f3;
  --color-amarelo: #fec32b;
  --color-cinza: #F1F0F0;
  --color-cinza2: #B0B0B0;
  --color-vermelho: #FF464C;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte padrão */
html {
  @apply font-sans;
}